<th:block th:fragment="carList(cars, totalPages)">

    <input type="hidden" id="totalCarPagesHidden" data-total-pages="[[${totalCarPages}]]" />

    <div class="row g-4">
        <div class="col-md-4" th:each="car : ${cars}">
            <div class="fleet-card">
                <img th:src="@{${car.image}}" th:alt="${car.name}" class="img-fluid">
                <div class="fleet-details">
                    <h3 th:text="${car.name}">Tên xe</h3>
                    <p th:text="'Số ghế: ' + ${car.seat} + ' ghế'">Số ghế</p>
                    <p th:text=" ${car.price} + 'đ/ngày'">Giá thuê</p>
                    <button class="btn btn-primary details-btn" th:data-car-id="${car.id}">Xem chi tiết</button>
                </div>
            </div>
        </div>

        <!-- Nếu danh sách rỗng -->
        <div class="col-12" th:if="${#lists.isEmpty(cars)}">
            <p class="text-center">Hiện tại chưa có xe nào.</p>
        </div>
    </div>
</th:block>
